.mechescolors{
    background-image: url(../css/15septiembre.jpg);
    background-size: contain;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,
    sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(198, 74, 155);
}

.linksmechesheader{
	line-height: 80px;
	color: darkblue;
    background-color: rgba(255, 99, 71,0) !important;
    border-color: transparent !important;
}

.linksmechesheader:hover {
    color: gray;
    background-color: none !important;
    border-color: transparent !important;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  white;
}
.footer-distributed p.footer-links a:hover{
   
    color:  grey;
}

.footer-distributed .footer-right a:hover{
    color: grey;
}
.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}

.gsc-search-button-v2, .gsc-search-button-v2:focus {
    border-color: #666666;
    background-color: darkblue !important;
    background-image: none;
    filter: none;
}

.gsc-search-button-v2:hover{
    background-color: rgba(198, 74, 155) !important;
}
.cse .gsc-control-cse,
.gsc-control-cse {
  margin-top: 3px;
}

#copyright {
    color: black;
}