.clear {
	clear: both !important;
}
.invoice {
	width: 970px !important;
	padding: 50px 0;
	margin: 0px auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px !important;
}
.invoice .invoice-header {
	padding: 25px 0px;
}
.invoice-content {
	margin-bottom: 20px;
}
.invoice-content .content {
	width: 450px;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 10px 20px;
	min-height:170px !important;
}
.Meches {
	float: left;
}
.Factura {
	float: right;
}
.Cliente {
	margin: 0 auto !important;
}
.info-header{
	color:#066CC3;
	margin-bottom:10px;
}
.info-header h3{
	font-size:22px;
	line-height:26px;
	padding:0px;
	margin:0px;
}
.NoFactura{
	width:100%;
	font-size:32px;
	line-height:36px;
	font-weight:bold;
	margin-bottom:10px;
	text-align:center;
}
#details-info .td-width{
	width:135px;
	text-align:right;
}
.td-width label{
	font-weight:bold;
	margin:0px;
}
.invoice-body{
	border-top:1px solid #CCC;
	padding:20px;
}
.Panel-Invoice{
	margin-bottom:25px;
}
.table_detail{
	border:1px solid #CCC;
}
.header-detail-invoice{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcfff4 0%,#e9e9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
}
.header-detail-invoice th{
	text-align:center !important;
}
.Panel-Invoice .code{
	width:60px;
}
.Panel-Invoice .detail{
	width:457px;
}
.Panel-Invoice .amount{
	width:80px;
	text-align:center;
}
.Panel-Invoice .unit{
	width:110px;
	text-align:right;
}
.Panel-Invoice .discount{
	width:80px;
	text-align:right;
}
.Panel-Invoice .exent{
	width:60px;
	text-align:center;
}
.Panel-Invoice .subtotal{
	width:80px;
	text-align:right;
}
.gray{
	background-color:#f6f4e8;
}
.Panel-Sub{
	float:right;
}